
  <a href="/private/aluno-cadastro">Cadastrar Aluno</a>

  {{#each alunos}}
    <p>{{this.nome}}</p>
    {{!-- <a href="/private/aluno/editar/{{this._id}}">Editar</a>
    
      <form action="/aluno/{{_id}}/delete" method="POST"> 
        <button>Delete</button>
      </form> --}}
 {{/each}}
</div>

<div class="fundo-transparente-tabela">

<div class="bs-example">
    <table class="table table-dark">
        <thead>
            <tr>
                
                <th>Nome</th>
                <th>Email</th>
                <th>Plano</th>
                <th>Inicio do Plano</th>
                <th>Aniversário</th>
                <th>Telefone</th>
                <th>Editar/deletar</th>
                </tr>
        </thead>
        <tbody>

            {{#each alunos}}
            <tr>
                
                <td>{{this.nome}}</td>
                <td>{{this.email}}</td>
                <td>{{this.planos}}</td>
                <td>{{this.inicioPlano}}</td>
                <td>{{this.aniversario}}</td>
                <td>{{this.telefone}}</td>
                <td>
                    <a href="/private/aluno/editar/{{this._id}}">Editar</a>
                    <form action="/aluno/{{_id}}/delete" method="POST"> 
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
           {{/each}}

        </tbody>
    </table>
</div>
</div>